cftr_batch_results_merged.json

cftr_function_scores.json

cftr2_lung_function.json

cftr2_pancreatic_insufficiency.json

cftr2_pseudomonas_infection.json

cftr2_sweat_chloride.json

cftr2_variant_meta.json

FINAL_CLASSES.json

Comorbidities_Complications.json

Genotype_variant.json

Lung_Function.json

ncbi_protein_legacy_map.json

Nutrition_BMI.json

organoid_priors.json

new.ipynb

Stratacyst_Platinum_Model_Metrics.csv

Psuedomonas_UK.json

Psuedominas_Infection.ipynb

Survival_pred_UK.json

Treatment_Burden_Antibiotics.json

CLINICAL_DEVICE_V3_STABILIZED.csv

DATA_FROM_CFTR2.csv

FINAL_ISEF_COMPARISON_1176_VARIANTS.csv

MASTER_AUDIT_ENRICHED.csv

MASTER_MODULATOR_RECOMMENDER_SYSTEM.csv

VALIDATION_COMPARISON_STAGE2.csv

ROSSETTA_GFI_MS_Validation_Results.xlsx

Strategic_Clinical_Audit_v2.xlsx

ROSSETTA.ipynb

REDO_CMEP_NOMISTAKES.ipynb

cmep_STUFF.ipynb

%_Pancreatic_Inufficiency.ipynb

Lung_Function.ipynb

Scraper_Classes.ipynb

%_Pancreatic_Inufficiency.ipynb

Scraper_Classes_Bug_FIX.ipynb

Sweat_Chloride.ipynb

*.json